:root {
  --background: white;
  --foreground: #212121;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  transition: 0.3s linear;
}

[data-theme='dark'] {
  --background: #212121;
  --foreground: white;
}