$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

@mixin sm {
  @media(max-width : 767px) {
    @content;
  }
}

@mixin md {
  @media (min-width : #{$screen-md-min}) and (max-width : 991px) {
    @content;
  }
}

@mixin lg {
  @media (min-width : #{$screen-lg-min}) and (max-width : 1199px) {
    @content;
  }
}

@mixin xl {
  @media (min-width : #{$screen-xl-min}) and (max-width : 1500px) {
    @content;
  }
}

.main {
  padding: 6rem 18rem;
  min-height: 100vh;
  border: 1px solid;

  @include sm {
    padding: 1rem;
  }

  @include md {
    padding: 4rem;
  }

  @include lg {
    padding: 6rem;
  }

  @include xl {
    padding: 6rem 10rem;
  }
}