$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

@mixin sm {
  @media(max-width : 767px) {
    @content;
  }
}

@mixin md {
  @media (min-width : #{$screen-md-min}) and (max-width : 991px) {
    @content;
  }
}

@mixin lg {
  @media (min-width : #{$screen-lg-min}) and (max-width : 1199px) {
    @content;
  }
}

@mixin xl {
  @media (min-width : #{$screen-xl-min}) and (max-width : 1500px) {
    @content;
  }
}

.section {
  min-height: 500px;
  // border: 1px solid;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 50px 0;
  gap: 20px;

  @include sm {
    grid-template-columns: 1fr;
  }

  @include md {
    grid-template-columns: 1fr;
  }
}

.section_heading:first-child {
  margin-top: 50px;
}

.section_heading {
  text-align: center;
}

.left_section,
.right_section {
  // border: 1px solid;
  transition: all 0.2s linear;
}

.left_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.primary_btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  background: #f44336;
  border: 1px solid #f44336;
  padding: 1rem 1.5rem;
  font-size: 20px;
  position: relative;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: 0.2s linear;

  @include sm {
    font-size: 15px;
  }

  @include md {
    font-size: 18px;
  }
}

.primary_btn:hover {
  background: #000000;
  border: 1px solid white;
}

.left_section>h1 {
  font-size: 64px;
  margin-bottom: 15px;

  @include sm {
    font-size: 35px;
  }

  @include md {
    font-size: 45px;
  }


}

.left_section>p {
  color: #929292;
  font-size: 20px;
  margin-bottom: 35px;

  @include sm {
    font-size: 18px;
    line-height: 1.6;
  }
}

.left_section>p>a {
  @include sm {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
  }
}

.image_div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image_div>img {
  width: 500px;
  height: 700px;
  object-fit: cover;
  border-radius: 1rem;

  @include sm {
    width: max-content;
    height: 450px;
  }

  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
  rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  transition: all 0.3s linear;
}

.image_div>img:hover {
  border-radius: 40rem 1rem 40rem 1rem;

  @include sm {
    border-radius: 1rem;
  }
}