$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

@mixin sm {
    @media(max-width : 767px) {
        @content;
    }
}

@mixin md {
    @media (min-width : #{$screen-md-min}) and (max-width : 991px) {
        @content;
    }
}

@mixin lg {
    @media (min-width : #{$screen-lg-min}) and (max-width : 1199px) {
        @content;
    }
}

@mixin xl {
    @media (min-width : #{$screen-xl-min}) and (max-width : 1500px) {
        @content;
    }
}


.theme_icon {
    position: absolute;
    right: 2rem;
    top: 2rem;

    @include sm {
        right: 1rem;
        top: 1rem;
    }

    font-size: 25px;
    transition: all 0.2s linear;
}

.theme_icon:hover {
    cursor: pointer;
    transform: rotate(60deg) scale(1.5);
}

.logo {
    position: absolute;
    left: 2rem;
    top: 2rem;

    @include sm {
        position: relative;
        top: unset;
        left: unset;
    }
}

.logo img {
    @include sm {
        width: 120px;
        height: 30px;
    }
}